.country-container {
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); 
    /* grid-template-rows: repeat(700px); */
    gap: 3em 1.5em;
    justify-items: center;
    /* gap: 1.5em;
    flex-wrap: wrap; */
}