.country-page .container {
    width: 80%
}
.first-block, .second-block {
    margin-bottom: 4rem;
    max-width: 60%;
}
.button {
    /* padding: 0.3em 1.5em; */
    display: flex;
    box-shadow: var(--shadow), var(--down-shadow);
    border-radius: 3px;
    width: 8rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    color: var(--text-color);
    background: var(--element-color);
    cursor: pointer;
}
.neighbors {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.7em;
    align-items: center;
}
.border {
    width: 900px;
}
.country-info {
    margin-top: 3rem;
}
.country-page .country-name {
    font-size: 2rem;
    margin-top: 0.3em;
}
.info-flag {
    box-shadow: var(--down-shadow);
}
.data {
    margin: 0.5em 0;
}

@media (min-width: 900px) {
    .flex-wide {
        display: flex;
        justify-content: space-between;
        gap: 10%;
        align-items: flex-start;
    }
    .info-flag {
        width: 45%;
    }
    .country-details {
        width: 55%;
    }
    .country-page .container {
        width: 85%
    }
    .border {
        width: auto;
    }
}
